<?php header("Content-type: text/css");
?> @charset "utf-8";
body { margin:0; padding:0; width:100%; background:#3d3d3d url(../../images/body_bg.gif) top center repeat-x; }
html { padding:0; margin:0; }
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */ border: none; }
/*.main { margin:0 auto; background:#f0f0f0 url(../../images/main_bg.gif) top center repeat-x; padding:15px 0 0 0; }
*/
.main { margin:0 auto; background:#f0f0f0 url(../../images/main_bg3.gif) top center repeat-x; padding:0 0 0 0; }
.main2 { margin:0 auto; background:#f0f0f0 url(../../images/main_bg3.jpg) top center repeat-x; padding:0 0 0 0; }
/********** header **********/
/*.header {  padding:0; margin:0 auto; width:1080px; }
*/
.header { padding:0; margin:0 auto; width:100%; background-color:#FFF; }
.header2 { padding:0; margin:0 auto; width:100%; background-color:#FFF; }
/* logo */
/*.logo {padding:0; margin:0; width:335px; height:160px; float:left;}
*/
.logo {
	width:1080px;
	margin:0 auto;
	padding:5px 0 0 0;
}
.logo img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.logo2 { padding:5px 0 0 70px; margin:0; width:335px; height:110px; float:left; }
/* rss */
.rss { text-align:right; width:215px; margin:0; padding:10px 10px 10px 0; float:left; font: normal 11px Arial, Helvetica, sans-serif; color:#7e7e7e; line-height:1.8em; }
.rss_img { float:left; margin:0; padding:20px 0 0 0; }
.rss_img img { margin:5px; padding:0; }
/*menu*/
.menu {/*width:1080px;padding:0;*/ }
.menu_resize {width:1080px; display: block;	margin-left: auto;	/*margin-right: auto;*/}
.menu2 { padding:0; margin:10px 0 0 0; float:right; width:530px; }
/*.menu ul { text-align: left;  padding:15px 0 0 0; margin:0; list-style:none; border:0; float:right;}
.menu ul li { float:left; margin:0; padding:13px 5px; border:0; }
.menu ul li a { float:left; margin:0; padding:13px 0 13px 0; color:#5e5e5e; font:bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none; }
.menu ul li a span { padding:13px 10px; background:none; }
.menu ul li a:hover { color:#F9F; background: url(../../images/r_menu.gif) no-repeat right; }
.menu ul li a:hover span {color:#F9F; background:url(../../images/l_menu.gif) no-repeat left; }
.menu ul li a.active { color:#F9F;  background:url(../../images/r_menu.gif) no-repeat right; }
.menu ul li a.active span { color:#F9F; background:url(../../images/l_menu.gif) no-repeat left; }
*//* search */
.search { padding:15px 0 0 0; margin:0; width:230px; float:right; }
.search form { display:block; float:right; padding:0; }
.search span { display:block; float:left; background: url(../../images/search_bg.gif) left top no-repeat; width:171px; padding:0; height:32px; }
.search form .keywords { width:179px; line-height:14px; float:left; background:none; border:0; padding:8px 2px 0 10px; margin:0; font:normal 11px Arial, Helvetica, sans-serif; color:#8e8e8e; }
.search form .button { float:left; margin:0; padding:0; }
/* FBG */
.FBG { padding:0; margin:0; background:#373737 url(../../images/FBG_bg.gif) top repeat-x; }
.FBG_resize { width:1080px; margin:0 auto; padding:0; }
.FBG_resize img { float:left; margin:0; padding:0; }
.FBG_resize a { color:#317c91; text-decoration:none; }
.FBG_resize h2 { font: normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#b7b7b7; padding:10px 0; margin:0; }
.FBG_resize p { font: normal 12px Arial, Helvetica, sans-serif; color:#919191; padding:5px 0; margin:0; line-height:1.8em; }
.FBG_resize ul { padding:0; margin:0; list-style:none; }
.FBG_resize li { padding:5px 0; margin:0; border-bottom:1px solid #404040; }
.FBG_resize li a { font: normal 12px Arial, Helvetica, sans-serif; color:#757575; padding:5px 0 5px 0; margin:0; text-decoration:none; }
.FBG_resize li a:hover { color:#317c91; text-decoration:none; }
.FBG_resize .blog { width:215px; float:left; margin:0; padding:15px 40px 15px 0; }
.FBG_resize .blog.last { padding:15px 0; }
/* body */
.body_resize { width:1080px; margin:0 auto; padding:20px 0 0 0; position: relative }
#pagination { float: right; /*border-bottom:#999 thin solid;
border-top:#999 thin solid;
margin: 10px 0;

	padding: 3px;*/
	display:block;/*width:800px;
*/ }
#pagination a { color:#666; font:normal 15px Arial, Helvetica, sans-serif; }
;
.body { padding:0; margin:0 auto; }
.body h2 { font: normal 22px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#494949; padding:5px 0; margin:0 0 5px 0;/* border-bottom:1px solid #c7c7c7;
*/ }
.body h2 span { font: normal 22px Arial, Helvetica, sans-serif; color: #F00; padding:0; margin:0; }
/*.xbody h2 span {
	font: normal 11px Arial, Helvetica, sans-serif;
	color:#b1b1b1;
	padding:0;
	margin:0;
}
*/.body h3 { color:#4f4f4f; font: bold 24px "Trebuchet MS", Arial, Helvetica, sans-serif; border-bottom:1px solid #dbdbdb; padding:15px 0 15px 20px; margin:0; }
.body h4 { font: normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#2a2a2a; padding:7px 0; margin:0; border-bottom:none; }
.body .menu2 { width:170px; float:right; padding:0; margin:0; }
.body .menu2 a { font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#5d5d5d; text-decoration:none; padding:0 3px; }
.body .menu2 a:hover { color:#fff; background:#363636; }
/*.body p { font:normal 12px Arial, Helvetica, sans-serif; color:#848484; line-height:1.8em; padding:5px 0; margin:0;}
*/
.body p { font:normal 12px Verdana, Geneva, sans-serif; color: #333; line-height:1.8em; padding:5px 0; margin:0; }
.body td { vertical-align:top; }
.body p.about { background:#e6e6e6; border-left:5px solid #cdcdcd; padding:20px; margin:15px 0; font: italic 12px Arial, Helvetica, sans-serif; color:#747474; }
.body p span { font-size:18px; font-weight:bold; color:#888; }
.body a { font:normal 12px Arial, Helvetica, sans-serif; color:#690; text-decoration:none; }
.body img { margin:5px auto; padding:5px;/* [disabled]background:#f8f8f8; border:1px solid #d4d4d4; */
}
.body img.floated { margin:10px 10px 5px 0; padding:0; padding:5px; background:#f8f8f8; border:1px solid #d4d4d4; float:left; }
.body img.none { float:left; margin:5px 5px 5px 0; padding:0; border:none; background:none; }
/* for test */
/* required to avoid jumping */

#comment { position: absolute; top: 0;/* just used to show how to include the margin in the effect
  border-top: 1px solid purple;
   */ }
#comment.fixed { position: fixed; top: 0; }
/*end or test */
.thumbnails {
 width=30%; float:left; }
#pict_wrapper { left: 410px; position: absolute;/*  margin-left: 35px;
  width: 280px;
*/ }
.largePict { margin-top:50px; width:355px; }
#large_pict { position: absolute; top: 0; /* just used to show how to include the margin in the effect
  border-top: 1px solid purple;
  
		width:320px; */
  margin-top: 20px; padding-top: 19px; margin-bottom: 30px; padding-bottom: 29px; }
#large_pict.fixed { position: fixed; top: 0; }
#right_scroll { left: 800px; position: absolute; }
.right { width:280px; padding:10px; float:left; border-top: #D6D7D2 thin solid; border-right: #D6D7D2 thin solid; border-left: #D6D7D2 thin solid; background-color: #ebebeb; background-image: url(../../images/slot_bg.gif); background-repeat: repeat-x; background-position: bottom;/*	width:320px;
	margin:0;
	padding:10px; 
	float:right;
	border-top: #D6D7D2 thin solid;
	border-right: #D6D7D2 thin solid;
	border-left: #D6D7D2 thin solid;
	background-color: #ebebeb;
	background-image: url(../../images/slot_bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
*//*	position: fixed;
	margin-left:800px;
*/ margin-left: 60px; }
.right ul, #right_scroll ul { margin:0; padding:0; list-style:none; }
/*.right tr { width:288px}
*/.right li, #right_scroll li { border-bottom:1px solid #d0d0d0; padding:5px 0; margin:0; }
.right li a, #right_scroll li a { font: normal 12px Arial, Helvetica, sans-serif; color:#747474; text-decoration:none; }
.right li a:hover, #right_scroll li a:hover { color:#2b6e80; text-decoration:underline; }
.left { width:650px; margin:0; padding:10px 0; float:left; min-height:450px; }
.left-query { width:100px; margin:0; padding:10px 0; float:left; }
.one_property { padding:5px 0; margin-bottom:15px; margin-top:15px; display:block; }
.one_property_pic { padding:5px 0; margin-bottom:15px; margin-top:15px; width:800px; float:left; }
.long_line { border-top: #999 thin solid; /*	width=650px;
*/	float:left; display:block; padding:5px 0 0 0; /*	margin-bottom:2px;
*/	padding-top:20px; }
.left-contact { width:100%; margin:0; padding:10px 0; float:left; }
.left .office { width: 250px; float: left; padding-right: 80px; }
.left .agents { width: 250px; float: left; }
.left p { font: normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif; sans-serif;
color: #494949; ; }
.left p span { float:right; font: normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif; sans-serif;
color: #C00; ; }
.left p a { font: normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif; sans-serif;
color: #363; }
.left p a:hover { font: normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif; sans-serif;
color: #693; ; }
.one_property .profile_left { width: 320px; float:left }
.one_property .profile_right { width: 320px; float:right }
.left .property_image { width: 235px; float: left; }
.left .property_text { width: 395px; float: left; margin: 0 0 0 10px }
.left .property_image_profile { width: 420px; float: left; }
.left .property_titel_profile { width: 220px; float: left; }
.left .property_text_profile { width: 670px; float: left; }
.left h2, .left-contact h2 { font: normal 24px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#494949; padding:5px 0; }
.left h3, .left-contact h3 { font: normal 20px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#494949; padding:5px 0; border:0 }
.left h4, .left-contact h4 { font: normal 16px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#494949; padding:5px 0; }
.left h5, .left-contact h5 { font: normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#494949; margin:0; padding:0 0 5px 0; ; }
.left h2 span, .left-contact h2 span { font: normal 24px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#C00; padding:5px 0; }
.left h3 span, .left-contact h3 span { font: normal 20px "Trebuchet MS", Arial, Helvetica, sans-serif; color: #C00; padding:5px 0; border:0; }
.left h4 span, .left-contact h4 span { font: normal 16px "Trebuchet MS", Arial, Helvetica, sans-serif; color: #C00; padding:5px 0; }
.left h5 span, .left-contact h5 span { font: normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif; color: #C00; padding:0 0 5px 0; margin:0; }
.left .title, .left-contact title { width:80px; }
.port { width:290px; margin:10px 0; padding:0 55px 0 0; float:left; }
.last { padding:0; }
/********** contact form **********/
#contactform { margin:0; padding:5px 0; }
#contactform * { color:#F00; }
#contactform ol { margin:0; padding:0; list-style:none; }
#contactform li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#contactform li.buttons { margin:5px 0 5px 0; clear:both; }
#contactform label { margin:0; width:400px; display:block; padding:5px 0; color:#737373; font: bold 12px Arial, Helvetica, sans-serif; float:left; }
#contactform label span { color:#d66423; font-weight:bold; }
#contactform input.text { width:250px; border:1px solid #d4d4d4; margin:2px 0; padding:5px 2px; height:16px; background:#fff; float:left; }
#contactform select.text { width:250px; border:1px solid #d4d4d4; margin:2px 0; padding:1px 1px; height:22px; background:#fff; float:left; }
#contactform textarea { width:450px; border:1px solid #d4d4d4; margin:2px 0; padding:2px; background:#fff; float:left; }
#contactform li.buttons input { padding:3px 0 3px 0; margin:10px 0 0 0; border:0; color:#FFF; float:left; }
/********** search query form **********/
#search_query { margin:0 0 20px 0; padding:5px 0; }
#search_query * { color:#666; }
#search_query ol { margin:0; padding:0; list-style:none; }
#search_query li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#search_query li.buttons { margin:5px 0 5px 0; clear:both; }
#search_query label { margin:0; width:80px; display:block; padding:5px 0; color:#737373; font: normal 12px Arial, Helvetica, sans-serif; float:left; }
#search_query label span { color: #333; font-size:110%; }
#search_query input.text { width:180px; border:1px solid #d4d4d4; margin:2px 0; padding:1px 1px; height:18px; background:#fff; float:left; }
#search_query .radio { margin:0; padding:5px 0 1px 0; }
#search_query label.radio { width:75px; }
#search_query select.text { width:180px; border:1px solid #d4d4d4; margin:2px 0; padding:1px 1px; height:22px; background:#fff; float:left; }
#search_query checkbox { float:left; }
#search_query textarea { width:450px; border:1px solid #d4d4d4; margin:2px 0; padding:2px; background:#fff; float:left; }
/*#search_query li.buttons input { padding:3px 0 3px 0; margin:10px 0 0 0; border:0; color:#FFF; float:left; }
*/
#search_query li.buttons input { float:right; margin: 5px 15px 0 0; }
#search_query td { vertical-align:top; width:300px }
.TimeSpan { margin: 15px 0 0 15px; }
/********** property request form **********/
#property_request { margin:0 0 20px 0; padding:5px 0; }
#property_request * { color:#666; }
#property_request ol { margin:0; padding:0; list-style:none; }
#property_request li { margin:0; padding:0; background:none; border:none; display:block; clear:both; font: normal 11px Arial, Helvetica, sans-serif; }
#property_request li span { font: normal 11px Arial, Helvetica, sans-serif; margin:0 0 0 10px; padding: 5px 0 0 0; }
#property_request li.buttons { margin:5px 0 5px 0; clear:both; }
#property_request label { margin:0; width:180px; display:block; padding:5px 0; color:#737373; font: normal 12px Arial, Helvetica, sans-serif; float:left; }
#property_request label span { color: #690; font-weight:bold; }
#property_request input.text { width:220px; border:1px solid #d4d4d4; margin:2px 0; padding:1px 1px; height:18px; background:#fff; float:left; }
#property_request select.text { width:220px; border:1px solid #d4d4d4; margin:2px 0; padding:1px 1px; height:18px; background:#fff; float:left; }
#property_request textarea { width:450px; border:1px solid #d4d4d4; margin:2px 0; padding:2px; background:#fff; float:left; }
#property_request li.buttons input { float:right; margin: 5px 15px 0 0; }
/*#property_request li.buttons input { padding:3px 0 3px 0; margin:10px 0 0 0; border:0; color:#FFF; float:right; }
*/
/**************************************/
.go_top { float: right; }
.go_top a { font-size:10px; color:#666; }
.go_top a:hover { font-size:10px; color:#C00; }
.query { border-bottom:#666 thin solid; }
/*************footer**********/
.footer { padding:20px; margin:0 auto; background:#2e2e2e url(../../images/footer_bg.gif) top repeat-x; }
.footer_resize { width:1080px; margin:0 auto; padding:0; }
.footer p { font:normal 12px Arial, Helvetica, sans-serif; color:#707070; }
.footer a { font:bold 12px Arial, Helvetica, sans-serif; color:#707070; text-decoration:none; }
.footer p.rightt { text-align:right; width:350px; margin:0; padding:10px 0; float:right; }
.footer p.leftt { text-align:left; width:550px; margin:0; padding:10px 0; float:left; }
#paypal ol { margin:0; padding:0; list-style:none; }
#paypal li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#paypal li.buttons { margin:5px 0 5px 0; clear:both; }
#paypal label { margin:0; width:400px; display:block; padding:5px 0; color:#737373; font: bold 12px Arial, Helvetica, sans-serif; float:left; }
#paypal label span { color:#d66423; font-weight:bold; }
#paypal input.text { width:250px; border:1px solid #d4d4d4; margin:2px 0; padding:5px 2px; height:16px; background:#fff; float:left; }
#paypal select.text { width:250px; border:1px solid #d4d4d4; margin:2px 0; padding:1px 1px; height:22px; background:#fff; float:left; }
#paypal textarea { width:450px; border:1px solid #d4d4d4; margin:2px 0; padding:2px; background:#fff; float:left; }
#paypal li.buttons input { padding:3px 0 3px 0; margin:10px 0 0 0; border:0; color:#FFF; float:left; }
/********** search query form **********/
/*#search_query { margin:0 0 20px 0; padding:5px 0;}
#search_query * {	color:#666;}
#search_query ol { margin:0; padding:0; list-style:none; }
#search_query li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#search_query li.buttons { margin:5px 0 5px 0; clear:both; }
#search_query label { margin:0; width:80px; display:block; padding:5px 0; color:#737373; font: normal 12px Arial, Helvetica, sans-serif;  float:left; }
#search_query label span { color: #333; font-size:110%; }
#search_query input.text { width:220px; border:1px solid #d4d4d4; margin:2px 0; padding:1px 1px; height:18px; background:#fff; float:left; }
#search_query .radio { margin:0; padding:5px 0 1px 0;}
#search_query label.radio { width:75px;}
#search_query select.text { width:220px; border:1px solid #d4d4d4; margin:2px 0; padding:1px 1px; height:22px; background:#fff; float:left; }
#search_query checkbox { float:left; }
#search_query textarea { width:450px; border:1px solid #d4d4d4; margin:2px 0; padding:2px; background:#fff; float:left; }
*/
p.clr, .clr { clear:both; padding:0; margin:0; background:none; }
.bg { clear:both; padding:5px 0; margin:0; border-bottom:1px solid #ededed; }
/* Slider */
#slider { width:1080px; padding:0; margin:0 auto; }
#slider .flash_slider { width:1080px; height:300px; margin:0; overflow:hidden; }
.slide_blog { width:325px; float:left; padding:15px 0; }
.slide_blog img { float:left; margin:0; padding:10px 10px 30px 0; }
.slide_blog h3 { font: normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#474747; padding:10px 0; margin:0; border:0; }
.slide_blog_resize { border-top:1px solid #fff; padding:10px 0; margin:0; background-color: #ebebeb; background-image: url(../../images/slot_bg.gif); background-repeat: repeat-x; background-position: bottom; }
.slide_blog_resize_b { width:1080px; margin:0 auto; padding:0; }
.slide_blog_resize h1 { color:#471681; padding:10px 0; margin:0 0 10px 0; border:0; font-family: Tahoma, Geneva, sans-serif; font-size: 36px; font-style: normal; font-weight: bolder; font-variant: normal; }
.slide_blog_resize h1 span { font: normal 18px "Times New Roman", Times, serif /*"Trebuchet MS", Arial, Helvetica, sans-serif */; color:#C00; padding:10px 0; margin:0 0 10px 0; border:0; }
.slide_blog_resize h2 { font: normal 22px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#471681; padding:10px 0; margin:0 0 10px 0; border:0; }
.slide_blog_resize h2 span { font: normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif; color: #C00; padding:10px 0; margin:0 0 10px 0; border:0; }
.slide_blog_resize h3 { font: normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#471681; padding:5px 0; margin:0 0 10px 0; ; border:0; }
.slide_blog_resize h4 { width:300px; float: left; font: normal 36px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#4f4f4f; padding:10px 0 20px 0; margin:0; }
.slide_blog p { font: normal 11px Arial, Helvetica, sans-serif; color:#939393; padding:0; margin:0; line-height:1.8em; }
.main_title_resize { border-top:1px solid #fff; padding:10px 0; margin:0; background-color: #ebebeb; background-image: url(../../images/slot_bg.gif); background-repeat: repeat-x; background-position: bottom; }
.main_title_resize_b { width:1080px; margin:0 auto; padding:0; }
.main_title { width:325px; float:left; padding:15px 0; }
.main_title img { float:left; margin:0; padding:10px 10px 30px 0; }
.main_title h3 { font: normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#474747; padding:10px 0; margin:0; border:0; }
.main_title_resize h2 { font: normal 22px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#474747; padding:10px 0; margin:0 0 10px 0; border:0; }
.main_title_resize h2 span { font: normal 14px "Trebuchet MS", Arial, Helvetica, sans-serif; color: #C00; padding:10px 0; margin:0 0 10px 0; border:0; }
.main_title_resize h3 { font: normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#474747; padding:5px 0; margin:0 0 10px 0; ; border:0; }
.main_title_resize h4 { width:300px; float: left; font: normal 36px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#4f4f4f; padding:10px 0 20px 0; margin:0; }
.main_title p { font: normal 11px Arial, Helvetica, sans-serif; color:#939393; padding:0; margin:0; line-height:1.8em; }
.thumbnails li { list-style: none; margin:0; padding:0; float:left; /*	set the thumbnail spacing*/
			margin:10px;/*			position:relative;
*/ }
.thumbnails li, .thumbnails li img { /*	set the thumbnail size, you must set li and img to the same dimensions*/
		width:175px; height:130px; position:relative; }
